/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
/* End of reset------------------------------------ */
nav {
	text-align: right;
}
nav a {
	display: inline-block;
	margin-right: 25px;
	line-height: 0.5;
	letter-spacing: 1px;
	color: green;
	text-decoration: none;
}
nav a:hover{
	color: #fff;
	background-color: #c21460;
	line-height: 1;
}
.header {
text-align: center;
}
img {
	display: block;
	margin: auto;
}

.button {
	margin: 25px;
}
body {
	background-color: #f7f4d4;
}
.topix{
	font-weight: 800;
	font-size: larger;
	margin: 10px;
	color: #700cbc;
}
.topics {
	margin: 15px;
	color: #210934;
}
h1 {
	color: #700cbc;
}
.contact {
text-align: center;
}
.contact-header {
	text-align: center;
	color: #700cbc;
	font-weight: 800;
	font-size: larger;
}
.foot {
	text-align: center;
}
body {
	font-weight: 300;
	font-size: large;
}
@media (max-width: 500px){
  .container {
      background: greenyellow;
      margin: auto 0;
     
  }  
  img {
      display: 2em;
  }
  .middle-img{
      display: none;
  }
  .topix{
      text-align: center;
  }
}
@media (max-width: 800px){
    .container{
        background: #CAAC34;
        margin: auto 0;
    }
}